.main {
    background: linear-gradient(150deg, #000000 15%, #33001a 70%, #660033 94%);
}

:root {
    /* violet */
    --primary-color: 111, 76, 255;

    /* white */
    --text-color: 256, 256, 256;
}

.main-heading {
    padding: 20px 0;
    /* text-decoration: wavy; */
}

.glow-card::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
    border-radius: 20px;

    background: linear-gradient(45deg, rgba(255, 5, 172, 1) 0%, rgba(255, 5, 172, 1) 18%, rgba(0, 255, 255, 1) 100%);
    /* w3c */
}

.glow-card::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -2;
    filter: blur(40px);
    background: linear-gradient(45deg, rgba(255, 5, 172, 1) 0%, rgba(255, 5, 172, 1) 18%, rgba(0, 255, 255, 1) 100%);
    border-radius: 20px;
    /* w3c */
}

.glow-card:hover {
    color: white;
    background: none;
    transition: background ease-in-out;
}

.glow-card {
    background: #0d0e21;
    min-height: 100%;
    color: white;
    border-radius: 20px;
}

.description {
    min-height: 143px;
}

.glow-card:hover {
    background-color: black !important;
}

.info-tab {
    background-color: black;
    color: white;
    padding: 100px;
    border-radius: 20px;
    /* background: linear-gradient(45deg, rgba(255, 5, 172, 1) 0%, rgba(255, 5, 172, 1) 18%, rgba(0, 255, 255, 1) 100%); */
    /* w3c */
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.info-tab h3, .info-tab h6 {
    color: white;
}

.info-tab:hover {
    box-shadow: rgba(var(--primary-color), 20) 0px 0px 20px 0px;
}